<div class="container" >
	<div class="row">
		<div class="col-md-12">
			<div data-loading-indicator></div>
		</div>
	</div>
	<div class="row" contenteditable="false">
		<div class="col-md-3" contenteditable="false">
			<div class="panel panel-default">
				<div class="panel-heading">Current Temperature</div>
				<div class="panel-body">
					<div data-highchart id="temperatureGauge" data-config="temperature" class="gauge"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{{moonLight}}
			<button type="button" class="btn btn-xs btn-default" data-ng-click="toggleMoonLight()">Toggle</button>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Current Ph</div>
				<div class="panel-body">
					<div data-highchart id="phGauge" data-config="ph" class="gauge"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-group">
						<button type="button" class="btn btn-xs btn-default" data-ng-click="pastHour()">Past Hour</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="pastDay()">Past Day</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="pastWeek()">Past Week</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="pastMonth()">Past Month</button>
					</div>
				</div>
				<div class="panel-body">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-body">
								<small>Temperature over time</small>
								<div data-highchart id="temperatureGraph" data-config="temperatureGraph"></div>
	               			</div>
	               		</div>
					</div>
	            	<div class="col-md-6">
						<div class="panel panel-default">
	                			<div class="panel-body">
	                  				<small>Ph over time</small>
								<div data-highchart id="phGraph" data-config="phGraph"></div>
							</div>
	               		</div>
	           		</div>
	           	</div>
			</div>
		</div>
	</div>
</div>