<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" data-ng-app="aqua.monitor"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Aquarium Monitor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body >
	<div class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-ng-init="navCollapsed = true" data-ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Aquarium Monitor</a>
      </div>
      <div class="collapse navbar-collapse" data-ng-class="!navCollapsed && 'in'" data-ng-click="navCollapsed=true">
	    <ul class="nav navbar-nav">
	     <li><a href="#/aquarium">Aquarium Metrics</a></li>
	     <li><a href="#/system">System Metrics</a></li>
		</ul>
      </div>
	</div>
    <!-- Add your site or application content here -->
    <div style="padding-top: 80px;" class="container" data-ng-view=""></div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/angular.min.js"></script>
    <script src="assets/scripts/bootstrap.min.js"></script>
    <script src="assets/scripts/angular-resource.min.js"></script>
    <script src="assets/scripts/angular-cookies.min.js"></script>
    <script src="assets/scripts/angular-sanitize.min.js"></script>
    <script src="assets/scripts/angular-route.min.js"></script>
    <script src="assets/scripts/ui-bootstrap-tpls.min.js"></script>
    <script src="assets/scripts/sockjs.min.js"></script>
    <script src="assets/scripts/stomp.min.js"></script>
    <script src="//code.highcharts.com/stock/highstock.js"></script>
    <script src="assets/scripts/highcharts-more.js"></script>
	<script src="//code.highcharts.com/modules/solid-gauge.js"></script>
	<script type="text/javascript">
		Highcharts.setOptions({
			global: {
				useUTC: false
			}
		});
	</script>
    <script src="assets/scripts/highcharts-ng.min.js"></script>
    <!-- endbower -->
	<!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/modules.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/factories/factories.js"></script>
    <script src="scripts/services/messageBus.js"></script>
    <script src="scripts/services/systemMetricsService.js"></script>
    <script src="scripts/services/aquaMetricsService.js"></script>
    <script src="scripts/controllers/SystemMetricsController.js"></script>
    <script src="scripts/controllers/AquaMetricsController.js"></script>
    <script src="scripts/directives/LoadingIndicator.js"></script>
    <!-- endbuild -->
</body>
</html>
