<div class="container" data-ng-controller="AquaMetricsController as Ctrl">
	<div class="row">
		<div class="col-md-12">
			<div data-loading-indicator></div>
		</div>
	</div>
	<div class="row" contenteditable="false">
		<div class="col-md-3" contenteditable="false">
			<div class="panel panel-default">
				<div class="panel-heading">Current Temperature</div>
				<div class="panel-body">
					<div data-highchart id="temperatureGauge" data-config="Ctrl.temperature" class="gauge"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Current Ph</div>
				<div class="panel-body">
					<div data-highchart id="phGauge" data-config="Ctrl.ph" class="gauge"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-group">
						<button type="button" class="btn btn-xs btn-default" data-ng-click="Ctrl.pastHour()">Past Hour</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="Ctrl.pastDay()">Past Day</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="Ctrl.pastWeek()">Past Week</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="Ctrl.pastMonth()">Past Month</button>
					</div>
				</div>
				<div class="panel-body">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-body">
								<small>Temperature over time</small>
								<div data-highchart id="temperatureGraph" data-config="Ctrl.temperatureGraph"></div>
	               			</div>
	               		</div>
					</div>
	            	<div class="col-md-6">
						<div class="panel panel-default">
	                			<div class="panel-body">
	                  				<small>Ph over time</small>
								<div data-highchart id="phGraph" data-config="Ctrl.phGraph"></div>
							</div>
	               		</div>
	           		</div>
	           	</div>
			</div>
		</div>
	</div>
</div>