<div class="container" data-ng-controller="MainController as MainCtrl">
	<div class="row">
		<div data-loading-indicator></div>
	</div>
	<div class="row" contenteditable="false">
		<div class="col-md-3" contenteditable="false">
			<div class="panel panel-default">
				<div class="panel-heading">CPU Usage</div>
				<div class="panel-body">
					<div data-highchart id="systemMem" data-config="MainCtrl.cpuUsageNG" class="gauge"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Used Memory</div>
				<div class="panel-body">
					<div data-highchart id="systemMem" data-config="MainCtrl.systemMemNG" class="gauge"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Used Memory</div>
				<div class="panel-body">
					<div data-highchart id="systemMem" data-config="MainCtrl.systemMemNG" class="gauge"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Used Memory</div>
				<div class="panel-body">
					<div data-highchart id="systemMem" data-config="MainCtrl.systemMemNG" class="gauge"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Used Memory
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-xs btn-default" data-ng-click="MainCtrl.getMemoryPastHour()">Past Hour</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="MainCtrl.getMemoryPastDay()">Past Day</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="MainCtrl.getMemoryPastWeek()">Past Week</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="MainCtrl.getMemoryPastMonth()">Past Month</button>
					</div>
				</div>
				<div class="panel-body">
					<div data-highchart id="chart1" data-config="MainCtrl.highchartsNG"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Cpu Utilization
				<div class="btn-group pull-right">
						<button type="button" class="btn btn-xs btn-default" data-ng-click="MainCtrl.getCpuPastHour()">Past Hour</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="MainCtrl.getCpuPastDay()">Past Day</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="MainCtrl.getCpuPastWeek()">Past Week</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="MainCtrl.getCpuPastMonth()">Past Month</button>
					</div>
				</div>
				<div class="panel-body">
					<div data-highchart id="chart1" data-config="MainCtrl.cpuUsageGraph"></div>
				</div>
			</div>
		</div>
	</div>
</div>