<div data-ng-controller="MainController as MainCtrl">
	<div class="header">
	  <ul class="nav nav-pills pull-right">
	    <li class="active"><a data-ng-href="#">Home</a></li>
	    <li><a data-ng-href="#">About</a></li>
	    <li><a data-ng-href="#">Contact</a></li>
	  </ul>
	  <h3 class="text-muted">aquarium monitor gui</h3>
	</div>
	<div class="row">
		<div class="btn-group">
		  <button type="button" class="btn btn-default" ng-click="MainCtrl.getPastHour()">Past Hour</button>
		  <button type="button" class="btn btn-default" data-ng-click="MainCtrl.getPastDay()">Past Day</button>
		  <button type="button" class="btn btn-default" data-ng-click="MainCtrl.getPastWeek()">Past Week</button>
		  <button type="button" class="btn btn-default" data-ng-click="MainCtrl.getPastMonth()">Past Month</button>
		</div>
		<div data-highchart id="chart1" data-config="MainCtrl.highchartsNG"></div>
		<div data-highchart id="systemMem" data-config="MainCtrl.systemMemNG"></div>
	</div>

</div>
<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
