<div class="container" >
	<div class="row">
		<div class="col-md-12">
			<div data-loading-indicator></div>
		</div>
	</div>
	<div class="row" contenteditable="false">
		<div class="col-md-3" contenteditable="false">
			<div class="panel panel-default">
				<div class="panel-heading">CPU Usage</div>
				<div class="panel-body">
					<div data-highchart id="cpuUsageGauge" data-config="cpuUsageNG" class="gauge"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Used Memory</div>
				<div class="panel-body">
					<div data-highchart id="systemMemGauge" data-config="systemMemNG" class="gauge"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Free memory</div>
				<div class="panel-body">
					<div data-highchart id="systemFreeGauge" data-config="systemFreeNG" class="gauge"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Used Swap</div>
				<div class="panel-body">
					<div data-highchart id="systemSwapGauge" data-config="systemSwapNG" class="gauge"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-group">
						<button type="button" class="btn btn-xs btn-default" data-ng-click="pastHour()">Past Hour</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="pastDay()">Past Day</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="pastWeek()">Past Week</button>
						<button type="button" class="btn btn-xs btn-default" data-ng-click="pastMonth()">Past Month</button>
					</div>
				</div>
				<div class="panel-body">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-body">
								<small>Memory usage</small>
	                				<div data-highchart id="chart1" data-config="highchartsNG" data-disableDataWatch="true"></div>
	                			</div>
	                		</div>
	              		</div>
	            		<div class="col-md-6">
						<div class="panel panel-default">
	                			<div class="panel-body">
	                  				<small>System load</small>
								<div data-highchart id="chart1" data-config="cpuUsageGraph"></div>
							</div>
	               		</div>
	           		</div>
	           	</div>
			</div>
		</div>
	</div>
</div>