/angular
/angular-bootstrap
/angular-cookies
/angular-mocks
/angular-resource
/angular-route
/angular-sanitize
/angular-scenario
/bootstrap
/es5-shim
/flot
/jquery
/json3
/msgs
/requirejs
/requirejs-domready
/sockjs
/stomp-websocket
/when
